div{
    background-color: green; 
    height: 100px;
    width: 100px;
    color: blue;
    padding: 25px;
    margin: 25px;
    display: inline-block;
}
.my{
    background-color: white(255, 0, 0, 0.1);
}