body{
    text-align: center;
}
a{
    height: 50px;
    width: 50px;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
}
#container{
    width: 800px;
    height: 200px;
    border: 2px solid black;
    flex-direction: column; 
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.box1{
    background-color: aqua;
}
.box2{ 
    background-color: pink;
}
.box3{
    background-color: brown;
}
.box4{
    background-color: red;
}
.box5{
    background-color: purple;
}
