@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#3a4452;
}
.calculator{
    border: 2px solid rgb(155, 154, 154);
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(133,155,199,1);


}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background:transparent;
    background-color: rgba(255, 255, 255, 0.316);
    box-shadow: 0px 3px 15px rgbs(84,84,84,1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: black;
}

input::placeholder{
    color: #ffffff;

}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px ;
    border-radius:50% ;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255, 255, 0.1);
    cursor: pointer;
}
.equal{
    background-color: orange;
}

.operator{
    color: rgba(7, 237, 7, 0.659);
}