*{
    padding: 0;
    margin: 0;


}
.box1{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    border: solid 10px black;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 80px;
    width: 221px;
    height: 164px;
    background-image: url("/Day1/youtube.png");
    background-repeat:no-repeat;
    background-position: center;
    opacity:0.8;
}
.box2{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    border: solid 10px black;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 80px;
    width: 221px;
    height: 164px;
    margin: auto 720px auto auto;
    background-color: yellow;
    
}
.box3{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    border: solid 10px black;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 80px;
    width: 221px;
    margin: 0;
    height: 164px;
    background-color: red;
}


